[Desktop Entry]
Name=SolydK
Comment=SolydK Desktop Theme

X-KDE-PluginInfo-Author=Arjen Balfoort
X-KDE-PluginInfo-Email=arjenbalfoort@solydxk.com
X-KDE-PluginInfo-Name=solydk
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=http://solydxk.com
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0

[Wallpaper]
defaultWallpaperTheme=solydk-flat
defaultFileSuffix=.png
defaultWidth=1920
defaultHeight=1200

[ContrastEffect]
enabled=true
contrast=0.3
intensity=1.9
saturation=1.7
