[Desktop Entry]
Name=solydk
X-KDE-PluginInfo-Name=solydk
X-KDE-PluginInfo-Author=Arjen Balfoort
X-KDE-PluginInfo-Email=arjenbalfoort@solydxk.com
X-KDE-PluginInfo-License=GPLv2
