[Desktop Action mountiso]
Exec=mntDir=`kdialog --getexistingdirectory ~/`; suCmd="kdesudo"; command -v kdesudo >/dev/null 2>&1 || { suCmd="kdesu" >&2; }; `echo $suCmd` -c "mount -o loop -t iso9660 '%u' '$mntDir'"; dolphin $mntDir;
Icon=media-optical
Name=Mount iso
Name[it]=Monta immagine
Name[en]=Mount iso

[Desktop Action umountiso]
Exec=mntDir=`kdialog --getexistingdirectory ~/`; suCmd="kdesudo"; command -v kdesudo >/dev/null 2>&1 || { suCmd="kdesu" >&2; }; `echo $suCmd` -c "umount $mntDir"; kdialog --passivepopup "Unmounted!"
Icon=media-optical
Name=Unmount Iso
Name[it]=smonta immagine
Name[en]=Unmount Iso

[Desktop Entry]
Actions=mountiso;umountiso;
Icon=media-optical
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,application/x-cd-image/.*
Type=Service
